<div class="dashboard-widget">
  <div class="dashboard-widget-header">
    <div>
      <h3>Data Monitoring Wilayah</h3>
      <span>Status Monitoring Seluruh Kecamatan</span>
    </div>

    <button class="btn-icon">
      <i class="fa-solid fa-table"></i>
    </button>
  </div>

  <div class="table-responsive">
    <table class="dashboard-table">
      <thead>
        <tr>
          <th>No</th>

          <th>Kecamatan</th>

          <th>Total TPS</th>

          <th>Relawan</th>

          <th>Perolehan</th>

          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>1</td>

          <td>Samarinda Ulu</td>

          <td>325</td>

          <td>146</td>

          <td>92%</td>

          <td>
            <span class="badge success"> Dominan </span>
          </td>
        </tr>

        <tr>
          <td>2</td>

          <td>Sungai Kunjang</td>

          <td>280</td>

          <td>122</td>

          <td>88%</td>

          <td>
            <span class="badge primary"> Aman </span>
          </td>
        </tr>

        <tr>
          <td>3</td>

          <td>Loa Janan</td>

          <td>245</td>

          <td>91</td>

          <td>73%</td>

          <td>
            <span class="badge warning"> Kompetitif </span>
          </td>
        </tr>

        <tr>
          <td>4</td>

          <td>Balikpapan Barat</td>

          <td>364</td>

          <td>174</td>

          <td>64%</td>

          <td>
            <span class="badge danger"> Lemah </span>
          </td>
        </tr>

        <tr>
          <td>5</td>

          <td>Bontang Selatan</td>

          <td>198</td>

          <td>86</td>

          <td>79%</td>

          <td>
            <span class="badge info"> Dipantau </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
