<div class="dashboard-widget">

    <div class="dashboard-widget-header">

        <div>
            <h3>Analisis Sebaran Wilayah</h3>
            <span>Peta Interaktif Kabupaten / Kota</span>
        </div>

        <button class="btn-icon">
            <i class="fa-solid fa-map-location-dot"></i>
        </button>

    </div>

    <!-- <div class="map-toolbar">

        <button class="map-filter active">
            Semua
        </button>

        <button class="map-filter">
            Tinggi
        </button>

        <button class="map-filter">
            Sedang
        </button>

        <button class="map-filter">
            Rendah
        </button>

    </div> -->

    <div
        id="map"
        class="map-container">
    </div>

</div>