<div class="dashboard-widget">
  <div class="dashboard-widget-header">
    <div>
      <h3>Quick Statistics</h3>
      <span>Ringkasan Kondisi Saat Ini</span>
    </div>

    <button class="btn-icon">
      <i class="fa-solid fa-chart-simple"></i>
    </button>
  </div>

  <div class="quick-stat">
    <div class="quick-item">
      <div class="quick-info">
        <span>Total Kecamatan</span>
        <small>Seluruh wilayah terdata</small>
        <strong>156</strong>
      </div>

      <div class="quick-progress">
        <div class="progress-bar">
          <div class="progress-fill blue" style="width: 100%"></div>
        </div>

        <small>100%</small>
      </div>
    </div>

    <div class="quick-item">
      <div class="quick-info">
        <span>TPS Terlapor</span>
        <small>83% TPS masuk sistem</small>
        <strong>12.450</strong>
      </div>

      <div class="quick-progress">
        <div class="progress-bar">
          <div class="progress-fill green" style="width: 83%"></div>
        </div>

        <small>83%</small>
      </div>
    </div>

    <div class="quick-item">
      <div class="quick-info">
        <span>Relawan Aktif</span>
        <small>Relawan aktif melakukan pelaporan</small>
        <strong>3.842</strong>
      </div>

      <div class="quick-progress">
        <div class="progress-bar">
          <div class="progress-fill orange" style="width: 76%"></div>
        </div>

        <small>76%</small>
      </div>
    </div>

    <div class="quick-item">
      <div class="quick-info">
        <span>Peluang Menang</span>
        <small>Prediksi berdasarkan analisis AI</small>
        <strong>92%</strong>
      </div>

      <div class="quick-progress">
        <div class="progress-bar">
          <div class="progress-fill red" style="width: 92%"></div>
        </div>

        <small>92%</small>
      </div>
    </div>
  </div>
</div>
